{% extends "base.html" %}
{% block content %}
    <h2 class="mb-3 text-center">User Form</h2>
    <div class="col d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" id="exampleInputName" placeholder="Name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputUsername">Username</label>
                        <input type="text" class="form-control" id="exampleInputUsername" placeholder="Username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputphonenumber">Phone Number</label>
                        <input type="number" class="form-control" id="exampleInputphonenumber" placeholder="Phone Number" name="number" maxlength="10">
                        <small id="numberHelp" class="form-text text-muted">We'll never share your number with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputComment">Comments</label>
                        <textarea class="form-control" id="exampleFormControlComment" rows="5" name="comments"></textarea>
                    </div>
                    <div class="custom-file mb-2">
                        <input type="file" class="custom-file-input" id="customFile" name="image">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}